body {
  background-color: lightgreen;
  .container {
    min-height: 100vh;
    h1.text-center {
      margin-bottom: 3rem;
    }
    .temperature {
      margin-bottom: 2rem;
      p {
        margin: 0.5rem 0;
      }
    }
    h4 {
      margin: 1rem 0;
    }
    h3 {
      margin: 3rem 0 2rem 0;
    }
    button.change {
      margin-top: 1rem;
    }
  }
}
